
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>

    <!-- Form Modal Start -->
    <div id="myModalEmployee" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="modal-title" id="ModelTitle"></div>
                </div>
                <div id="myModelContent" class="modal-body">

                </div>
            </div>
        </div>
    </div>
    <!-- Form Modal End -->

    <!-- Confirm Modal Start -->
    <div id="myModalCofirm" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="modal-title" id="ModelTitle">Do you really want to delete?</div>
                </div>
                <div id="myModelContent" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Confirm Modal End -->

    <div style="margin-top: 100px; padding:40px;">
        <button type="button" style="margin-bottom: 25px;" class="btn btn-info btn-lg" data-target="#myModalEmployee" onclick="CreateEmployee()">Add New Employee</button>
        
        <div class="panel panel-primary">
            <div class="panel panel-heading">
                Employee Details
            </div>
            <div class="panel panel-body">
                <div id="loadstatus"></div>
                <table id="tableEmployee" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Employee Name</th>
                            <th>Employee Address</th>
                            <th>Employee Salary</th>
                            <th>Operation</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $("#loadstatus").html("Loading.....");
        $.get("/Employee/GetEmployeeDetails", null, BindDate);
        function BindDate(employees) {

            var table = $("#tableEmployee");
            for (var i = 0; i < employees.length; i++) {
                //console.log(employees[1].EmployeeID);
                var TableData = "<tr>" +
                                "<td>" + employees[i].EmployeeName + "</td>" +
                                "<td>" + employees[i].EmployeeAddress + "</td>" +
                                "<td>" + employees[i].EmployeeSalary + "</td>" +
                                "<td>" +
                                       //+ "<a href='#' class='btn btn-danger' onclick='EditEmployee(" + employees[i].EmployeeID + ")'><span class='glyphicon glyphicon-eidt'>Edit</span></a>"
                                       //+ "<a href='#' class='btn btn-danger' onclick='DeleteEmployee(" + employees[i].EmployeeID + ")'><span class='glyphicon glyphicon-eidt'>Delete</span></a>"
                                       "<a href='#' class='btn btn-danger'onclick='EditEmployee(" + employees[i].EmployeeID + ")'><span class='glyphicon glyphicon-edit'> Edit</span></a>" +
                                       "&nbsp;<a href='#' class='btn btn-danger' onclick='DeleteEmployee(" + employees[i].EmployeeID + ")'><span class='glyphicon glyphicon-trash'> Delete</span></a>"
                                       +
                                "</td>" +
                                + "</tr>";
                table.append(TableData);
            }
            $("#loadstatus").html("");
        }

        function CreateEmployee() {
            var div = $("#myModelContent");
            div.load("/Employee/Create");
            $("#ModelTitle").html("Add New Employee Details");
            $("#myModalEmployee").modal();
        }

        function SaveEmployee() {
            //debugger;
            var EmployeeDetails = $("#frmEmployee").serialize();
            $.post("/Employee/Create", EmployeeDetails, function (data) {
                if (data == 0) {
                    location = location.href;
                }
                else {
                    var table = $("#tableEmployee");
                    var TableData = "<tr>" +
                                "<td>" + data.EmployeeName + "</td>" +
                                "<td>" + data.EmployeeAddress + "</td>" +
                                "<td>" + data.EmployeeSalary + "</td>" +
                                "<td>" + 
                                       "<a href='#' class='btn btn-danger'onclick='EditEmployee(" + data.EmployeeID + ")'><span class='glyphicon glyphicon-edit'> Edit</span></a>" +
                                       "&nbsp;<a href='#' class='btn btn-danger' onclick='DeleteEmployee(" + data.EmployeeID + ")'><span class='glyphicon glyphicon-trash'> Delete</span></a>"
                                       + "</td>" +
                                + "</tr>";
                    table.append(TableData);

                    $("#myModalEmployee").modal('hide');
                }
            }, 'json');
        }

        function EditEmployee(ID) {
            //console.log(ID);
            var div = $("#myModelContent");
            $("#ModelTitle").html("Update Employee Details");
            div.load("/Employee/Edit/" + ID);
            $("#myModalEmployee").modal();
        }

        function UpdateEmployee() {
            var EmployeeDetails = $("#frmEmployee").serialize();
            $.post("/Employee/Edit", EmployeeDetails, function (data) {
                if (data == 0) {
                    location = location.href;
                }
                else {
                    $("#myModalEmployee").modal('hide');
                    window.location.replace("/Employee/Index");
                    window.location.reload(true);
                }
            });
        }

        function DeleteEmployee(ID) {
            $("#myModalConfirm").modal('show');
            $.get("/Employee/Delete/" + ID, null, function (data) {
                if (data == 0) {
                    $("#myModalConfirm").modal('show');
                    location = location.href;
                }
                else {
                    $("#myModalConfirm").modal('show');
                    window.location.replace("/Employee/Index");
                    window.location.reload(true);
                }
            });
        }
    </script>
</body>

</html>

